.banner {
    bottom: 3%;
    display: none;
    font-family: sans-serif;
    height: 15%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 98%;
    z-index: 1;
}
