.burgerButton {
    background-color: #000;
    border-radius: 5px;
    border: none;
    color: #d3d3d3;
    font-size: 32px;
    height: 51px;
    margin: 5% 85%;
    outline: none;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 44px;
    z-index: 1;
}

.sidePanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidePanel > a {
    font-size: 22px;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;
    color: #fff;
    display: flex;
}

@media only screen and (min-width: 768px) {
    .burgerButton {
        margin: 5% 86%;
    }
}