/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

/* Optional: Makes the sample page fill the window. */
html, body, #map {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.pac-input {
    border: none;
    border-radius: 5px;
    background-color: red;
    font-size: 2em;
    font-weight: 300;
    height: 42px;
    margin: 5%;
    outline: none;
    width: 70%;
}

input[type="text"] {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .pac-input {
        width: 65%;
        margin: 5% 12%;
    }
}

