.banner_Locking,
.connect,
.tutorial,
.disconnect,
.no_locks,
.lock {
    background-color: #27772b;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    display: none;
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
    height: 50px;
    margin: auto;
    outline: none;
}

.banner_Locking,
.connect,
.tutorial,
.no_locks {
    width: 95%;
}

.lock,
.disconnect {
    width: 45%;
}

.no_locks {
    background-color: red;
}

.nearest_Lock {
    display: none;
}

@media only screen and (min-width: 768px) {
    .banner_Locking,
    .connect,
    .tutorial,
    .no_locks {
        width: 45%;
    }

    .lock,
    .disconnect {
        width: 30%;
    }
}